<html>
    <head>
        <title>Alexi's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Be There Be Square</a></h1>
        </div>

        <div>
            
            <h2><a href="">Best joke ever</a></h2>
            <p>What's up?
            	Chicken Butt!!</p>
        </div>

        <div>
            
            <h2><a href="">My cat is beautiful</a></h2>
            <p>My cat is a beautiful creature and I love the hairball that I call an animal.</p>
        </div>
    </body>
</html>